
#summary-tally {
    text-align: center;
}
strong {
    font-weight: bold;
}

.vs, #summary {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px; 
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

#log-entries tr {
    border-bottom: 1px solid #ccc; 
}

#log-entries tr:last-child {
    border-bottom: none; 
}

#log-entries td {
    padding: 10px; 
    text-align: left;
    font-size: 0.9rem;
}

#log-entries td[colspan="4"] {
    font-size: 0.85rem; 
    color: #000000; 
}

#sum-scroll {
    max-height: 16rem; 
    overflow-y: auto; 
}

.vs {
    top: 4.9rem;
    height: 30rem;
  }
